<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ユーザ登録</h1>
    <form action="exam04-result.html" th:action="@{/exam04/showProfile}" method="post" th:object="${userForm}">
        <label for="name">名前：<input type="text" name="name" id="name" th:field="*{name}"></label><br>
        <label for="age">年齢：<input type="number" name="age" id="age" th:field="*{age}"></label><br>
        <label for="comment">コメント：<br>
            <textarea name="comment" id="comment" cols="30" rows="10" th:field="*{comment}"></textarea>
        </label><br>
        <button type="submit">登録</button>
    </form>
</body>
</html>
